In [12]:
import pandas as pd
import selenium
from selenium import  webdriver
import time

In [183]:
#Activating Chrome Browser

driver= webdriver.Chrome('chromedriver.exe')

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [184]:
driver.get('https://www.naukri.com/')

In [185]:
jobs= driver.find_element_by_id('qsb-keyword-sugg')
jobs.clear()
jobs.send_keys('Data Analyst')
locations= driver.find_element_by_id('qsb-location-sugg')
locations.clear()
locations.send_keys('Bangalore')
button= driver.find_element_by_xpath("//div[@class= 'search-btn']")
button.click()
time.sleep(5)

In [186]:
job_title= []
job_location= []
company_name= []
experience_required= []

for i in driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']"):
    job_title.append(i.text)
    
for i in driver.find_elements_by_xpath("//li[@class= 'fleft grey-text br2 placeHolderLi location']/span"):
    job_location.append(i.text)

for i in driver.find_elements_by_xpath("//a[@class= 'subTitle ellipsis fleft']"):
    company_name.append(i.text)

for i in driver.find_elements_by_xpath("//li[@class= 'fleft grey-text br2 placeHolderLi experience']/span"):
    experience_required.append(i.text)
dictionnary = {
   'job-title': job_title[:10], 
   'job-location':job_location[:10], 
   'company_name':company_name[:10], 
   'experience_required':experience_required[:10]
}
jobs = pd.DataFrame(data=dictionnary) 
jobs

,job-title,job-location,company_name,experience_required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
2,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
3,Data Analyst,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",SA Tech Software (I) Pvt. Ltd.,1-3 Yrs
4,Hiring For Data Analyst/ MIS Reporting Analyst...,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs
5,Consultant-Data Analyst -Bangalore,Bangalore/Bengaluru,Innovsource Services Private Limited,2-7 Yrs
6,Data analyst - Google Analytics,Bangalore/Bengaluru,H and M Hennes and Mauritz (P) Ltd.,4-7 Yrs
7,SW Technologist I- Data Analyst,Bangalore/Bengaluru,Philips India Limited,5-10 Yrs
8,Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,1-3 Yrs
9,Hiring For Data Analyst @ Flipkart on Contract,Bangalore/Bengaluru,Flipkart Internet Private Limited,2-6 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [111]:
driver.back()

In [112]:
jobs= driver.find_element_by_id('qsb-keyword-sugg')
jobs.clear()
jobs.send_keys('Data Scientist')
locations= driver.find_element_by_id('qsb-location-sugg')
locations.clear()
locations.send_keys('Bangalore')
button= driver.find_element_by_xpath("//div[@class= 'search-btn']")
button.click()
time.sleep(5)

In [113]:
job_title= []
job_location= []
company_name= []

for i in driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']"):
    job_title.append(i.text)
    
for i in driver.find_elements_by_xpath("//li[@class= 'fleft grey-text br2 placeHolderLi location']/span"):
    job_location.append(i.text)

for i in driver.find_elements_by_xpath("//a[@class= 'subTitle ellipsis fleft']"):
    company_name.append(i.text)

In [114]:
urls= []

for i in driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']"):
    urls.append(i.get_attribute('href'))
urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16217607145546532&xp=1&px=1',
 'https://www.naukri.com/job-listings-data-scientist-wipro-limited-kolkata-hyderabad-secunderabad-chennai-bangalore-bengaluru-4-to-9-years-210521000038?src=jobsearchDesk&sid=16217607145546532&xp=2&px=1',
 'https://www.naukri.com/job-listings-big-data-data-scientist-xoriant-solutions-pvt-ltd-kochi-cochin-indore-hyderabad-secunderabad-pune-ahmedabad-bangalore-bengaluru-mumbai-all-areas-1-to-3-years-130521005018?src=jobsearchDesk&sid=16217607145546532&xp=3&px=1',
 'https://www.naukri.com/job-listings-specialist-i-data-scientist-philips-india-limited-bangalore-bengaluru-4-to-7-years-170521500993?src=jobsearchDesk&sid=16217607145546532&xp=4&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-110521907352?src=jobsearchDesk&sid=16217607145546532&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-scientist-oracle-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-190521008276?src=jobsearchDesk&sid=16217607145546532&xp=6&px=1',
 'https://www.naukri.com/job-listings-sde-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901434?src=jobsearchDesk&sid=16217607145546532&xp=7&px=1',
 'https://www.naukri.com/job-listings-computational-design-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901329?src=jobsearchDesk&sid=16217607145546532&xp=8&px=1',
 'https://www.naukri.com/job-listings-hiring-for-data-scientist-on-contract-basis-3-6-months-globaledx-learning-and-technology-solution-pvt-ltd-hyderabad-secunderabad-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-170521003581?src=jobsearchDesk&sid=16217607145546532&xp=9&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-go-jek-india-bangalore-bengaluru-4-to-11-years-190521500736?src=jobsearchDesk&sid=16217607145546532&xp=10&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-nanobi-data-and-analytics-private-limited-bangalore-bengaluru-7-to-9-years-190521501055?src=jobsearchDesk&sid=16217607145546532&xp=11&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-valiance-analytics-private-limited-bangalore-bengaluru-delhi-ncr-6-to-8-years-180521006944?src=jobsearchDesk&sid=16217607145546532&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-bankbazaar-com-a-a-dukaan-financial-services-pvt-ltd-bangalore-bengaluru-5-to-7-years-040321006895?src=jobsearchDesk&sid=16217607145546532&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kwalee-bangalore-bengaluru-5-to-9-years-220521500306?src=jobsearchDesk&sid=16217607145546532&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-associate-team-lead-data-scientist-consulting-analytics-india-magazine-bangalore-bengaluru-3-to-5-years-200521900965?src=jobsearchDesk&sid=16217607145546532&xp=15&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-gojek-tech-bangalore-bengaluru-3-to-7-years-200521500197?src=jobsearchDesk&sid=16217607145546532&xp=16&px=1',
 'https://www.naukri.com/job-listings-sr-data-scientist-payments-airbnb-global-capability-center-private-limited-bangalore-bengaluru-4-to-9-years-210521900292?src=jobsearchDesk&sid=16217607145546532&xp=17&px=1',
 'https://www.naukri.com/job-listings-hiring-for-lead-data-scientist-for-bangalore-location-societe-generale-global-solution-centre-pvt-ltd-bangalore-bengaluru-5-to-9-years-130521000901?src=jobsearchDesk&sid=16217607145546532&xp=18&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kinara-financial-private-limited-bangalore-bengaluru-5-to-10-years-100521500393?src=jobsearchDesk&sid=16217607145546532&xp=19&px=1',
 'https://www.naukri.com/job-listings-we-are-hiring-for-the-role-of-data-engineer-data-scientist-collabera-technologies-private-limited-bangalore-bengaluru-5-to-8-years-170521006288?src=jobsearchDesk&sid=16217607145546532&xp=20&px=1']

In [115]:
driver.get(urls[0])

In [116]:
element1 =driver.find_element_by_xpath("//section[@class= 'job-desc']")

In [117]:
a=element1.text
a

"Job description\nJob Role : Data Scientist/Data Analyst /Business Analyst\n\nLocation : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7Pm\n\nManigandan -+91 7299917200\n\nEmail : manigandan@centerforaia.com\n\nWhat is needed from you?\n\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nAn Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\n\nSelection procedure includes\n\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\n\nCandidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.\n\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\n\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\n\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms and solutions\nUnderstanding/implementation of ML algorithms, performance tuning and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data in to a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation and transformation\nIdentification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion\n\nAbout CAIA - Inflexion Analytix Private Limited\n\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay.\nDigital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies.\nOur Website : http://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nRoleData Analyst\nIndustry TypeBPO / Call Centre\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nBusiness IntelligenceArtificial IntelligenceBig DataITMachine LearningStatisticsDeep LearningAnalyticsBusiness AnalysisSQLData ScienceNLPCloud ComputingData VisualizationSoftwareData WarehousingPython"

In [119]:
driver.back()

In [120]:
driver.get(urls[1])
element2 =driver.find_element_by_xpath("//section[@class= 'job-desc']")
b= element2.text
b

'Job description\nRole: Data Scientist\n\nRoles and Responsibilities\nSuitable candidates will be part of Wipro Digital-Intelligent Enterprise practice. The role entails leveraging Data Science and Machine Learning to solve typical problems within an organization and create IP that could be deployed in a productized mode. This will entail significant hands-on work on multiple Big Data Technologies, Data Analysis, Identifying data patterns, ML models, Insights generation. The role entails deployment in a customer context and managing customer expectations.\n\nTechnical Skills Required:\nHands on with Python or R\nAnalytics using industry leading BI tools and technologies\nImplementation knowledge of supervised\\un-supervised machine learning algorithms\nGood statistical analysis skills for data pre-processing and data wrangling\nExperienced in using big data frameworks like Hadoop\nKnowledge of business intelligence tools or reporting tools\n\nData Preparation for Modeling\nMissing Data Imputation,Outlier Treatment\nScaling, Normalization, Standardization\nEncoding for Categorical Variables\nOversampling\\Undersampling for reducing class imbalance\n\nExperience in building solutions using Model Library\nFeature Selection\nTree-based Ensemble Models\nGradient\\Adaptive Boosted Trees\nHyper-parameter tuning\nBuilding Prediction mechanisms using methods like Logistic regression, voting classifier stacking etc\n\n\n\nRoleSoftware Developer\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Any Specialization\nKey Skills\nData ScienceMachine LearningPython\nLogistic RegressionData WranglingHadoopData AnalysisBig DataStatistical Analysis\nSkills highlighted with ‘‘ are preferred keyskills'

In [121]:
driver.back()

In [122]:
driver.get(urls[2])

In [123]:
element3 =driver.find_element_by_xpath("//div[@class= 'clearboth description']")
c= element3.text
c

'Roles & Responsibilities & Key Skills:\n\nBig Data DS\n\nExperience with big data/advanced analytics concepts and algorithms (e.g., text mining, social listening, recommender systems, predictive modeling, etc.).\nRelevant programming background (e.g., Java/Python/R).\nStrong understanding of relevant tools/platforms (e.g., Hadoop eco system and database systems);\nRelevant domain knowledge is plus; (healthcare/transportation/hi-tech/insurance);\nExcellent oral and written communication skills.\nStrong attention to detail, with a research-focused mindset.\nExcellent critical thinking and problem solving skills.\nHigh motivation, good work ethic and maturity.\nMinimum 1-3 yrs of proven project experience.\n\nQualification: BS or MS Degree in Computer Science, Information Technology, or equivalent.\nBCA/ BE/ MCA / B.Tech (Computer science, IT)\n\nKey Competencies & Personal Skills:\nExcellent organization skills, attention to detail, and ability to multi-task.\nDemonstrated sense of responsibility and capability to deliver quickly.\nExcellent communication skills. Clearly articulating/ documenting technical/ functional specifications is a key requirement.\nAttitude to learn new tools.\nProactive problem-solver. Relationship builder and team player.\nFlexibility to work in multiple complex projects and changing priorities.\nExperience with Agile methodology\nExcellent interpersonal skill (articulation using verbal and non-verbal skills).\nFlexible to learn.\nAbility to express their design ideas and thoughts.\nAdaptability to continuously changing team requirements.\nDemonstrated ability to deliver working solutions on time.\nStrong analytical thinking and problem-solving skills\n\nKey Skills What we offer in this role:\nBest market exposure, internal visibility for growth.\nWork on robust, secure and architectural environment.\nOpportunity to work in a technical satisfying environment.\nFlawless blend of volume & niche to enrich your entire experience & add starts to your career.\nYoung fast-growing team.\n\nOther Mandatory Aspects:\nEarly/ immediate joiners are welcome.'

In [124]:
driver.back()

In [125]:
driver.get(urls[3])

In [126]:
element4 =driver.find_element_by_xpath("//section[@class= 'job-desc']")
d= element4.text
d

'Job description\nResponsibilities and Key Result Areas\nDesign and develop project prototypes and solutions.\nParticipate in project estimation, planning and risk management activities\nIs responsible for delivering input in the planning process to the project leader\nEnsures that there is proper documentation for the developed solutions.\nEnsure compliance to the Quality Management System and regulatory requirements\nKey Technical Skills:\n4 - 7 yrs years of experience in data science\nDeveloped Proficient in algorithms on regression modelling (linear/logistic), supervised and unsupervised classification,\ntree-based techniques (Decision trees /Random forest), neural nets, bagging, Pattern Mining and boosting techniques, etc.\nProficient and hands on experience in developing models using concepts of Artificial Intelligence,\nMachine Learning and Deep Learning related technologies (such as Keras, TensorFlow, pyTorch, Azure ML, AWS ML, Scikit, Jupyter, MatLab etc.)\nExperience with containers like Docker is added advantage\nExperience in Sql\nWorking experience in agile/SAFe development methodologies\nSoft Skill set:\nFast learner. Ability to grasp key concepts quickly with minimal or no supervision\nGo-Getter Attitude. Ability to take ownership of team goals and deliver it with quality and within required timeline\nTeam Player attitude. Key characteristic of the individual who puts the team first before self.\nAbility to think out of box: Ability to come up with bright ideas and always looking at the next big thing in technology\nFlexible and willingness to stretch oneself when needed.\nRoleSoftware Developer\nIndustry TypeMedical Services / Hospital\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nMiningdeep learningdata scienceArtificial IntelligenceMachine learningAgileHTMLRisk managementMATLABSQL'

In [127]:
driver.back()

In [128]:
driver.get(urls[4])

In [129]:
element5 =driver.find_element_by_xpath("//div[@class= 'clearboth description']")
e=element5.text
e

'The Data Warehousing Practitioner actively participates on multi-functional project teams developing ETL and Visualization enabled solutions, owning and leading the work done. Recommends and implements analytics enabled solutions to improve business process, to generate insights, to support business goals and strategy development. They would also own and deliver complete projects of moderate scope\nAs a Senior Data Warehousing Practitioner, you recommend and implement ETL & Visualization solutions to improve business process, to generate insights, to support business goals and strategy development :\nYou will play a lead position with a strong technology and solution delivery acumen, who will be accountable for the successful design, development, and delivery of business intelligence solutions\nWill be responsible for driving the overall solution design and determining the architecture necessary for the BI team to develop and implement large complex projects\nWorks with business partners, development teams and senior designers to capture requirements, determine a solution that will integrate with existing/new BI assets, review prototypes and develop iterative revisions\nResponsible for leading the design of prototypes and determining final design to ensure client satisfaction with the solution\nConduct impact assessment with business in order and determine high level design and size of effort based on requirements\nTransforms datasets, quantitative and qualitative analysis into compelling visuals\nPartners and support developers through the development of complex routines to load a dimensional star schema (and supporting layers) and develops error handling processes. Similarly, supports the reporting team for the visualization build\nPerform an active, leading role in shaping and enhancing overall solution, including standard patterns and best practices\nIdentifies opportunities for new architectural initiatives; makes recommendations on the increasing scalability and robustness of DWH platforms and solutions\nDrive improvements and enhancements to the current data landscape and future strategy\nPartner with Leadership team to ensure the successful delivery of projects\nRemain current on new ETL/Visualization techniques and methodologies and communicate trends and opportunities to management and other developers as needed\nIdentify opportunities for uses of those technologies to enhance current or anticipated information systems and business goals needs\nIf you thrive in a dynamic, collaborative workplace, IBM provides an environment where you will be challenged and inspired every single day. And if you relish the freedom to bring creative, thoughtful solutions to the table, there s no limit to what you can accomplish here.\nRequired Technical and Professional Expertise\nMinimum 6-8 years of experience in modeling and business system design with experience in relational SQL and NoSQL databases, including Postgres and Cassandra.\nGood hands on experience on DataStage, Alteryx & SSIS with multiple cloud-based solutions like Red HAT, Azure, AWS and IBM Cloud for data storage, database and ETL implementations and Visualization creation\nExperience with STAR and SNOWFLAKE schema techniques with additional experience in ETL/Visualization space, leading development teams to deliver successful business intelligence solutions with complex data sources\nPreferred Technical and Professional Expertise\nAbility to take care of highly personal and confidential information\nExperience in understanding and executing business controls\nProven analytical and problem solving skills\nAmbitious individual who can work under their own direction towards agreed targets/goals.\nAbility to manage change and be open to it good time management and an ability to work under stress\nProven interpersonal skills while contributing to team effort by accomplishing related results as needed\nMaintain technical knowledge by attending educational workshops, reviewing publications'

In [130]:
driver.back()

In [131]:
driver.get(urls[5])

In [132]:
element6 =driver.find_element_by_xpath("//div[@class= 'clearboth description']")
f= element6.text
f

'Roles and Responsibilities\nLooking for 6+ yrs of experience in data science, predictive modelling, validations, having experience in PL SQL, SQL\n\nDesired Candidate Profile\n\n\nPerks and Benefits'

In [133]:
driver.back()

In [134]:
driver.get(urls[6])

In [135]:
element7 =driver.find_element_by_xpath("//section[@class= 'job-desc']")
g= element7.text
g

'Job description\nBusiness & Team overview:\nFounded in 1987, Huawei is a leading global provider of ICT (information and communications technology) infrastructure and smart devices. We are committed to bringing digital to every person, home and organization for a fully connected, intelligent world. We have nearly 194,000 employees, and we operate in more than 170 countries and regions, serving more than 3 billion people around the world.\n\nHuawei Technologies has three business directions: Carrier Business Group, which provides innovative and secure network equipment to telecom carriers, including the leading 5G mobile network.\nEnterprise Business Group, which provides facilities and solutions to big and small companies, including IT facilities.\nConsumer Business Groups, which provides devices to the customer, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and headphones. And also provide solutions on mobile offices, smart homes, sports and health, audio-visual entertainment, and smart travel products.\n\nThis opportunity is belong to Huawei Consumer Business Group.\n\nDriven by the coordinated development of "Chip-Device-Cloud", consumer products such as smartphones are becoming increasingly intelligent and pervasive. The era of smart services is the future.\n\nHuawei Ads Services is dedicated to provide Huawei end-users with high-quality digital experiences, to build a business closed-loop system for Developers and Improve the ROI for the Advertisers\n.\nIn 2020 Q1, along with more than 650 million users and 1,400,000 registered developers worldwide, we have the following unique advantages:\n1. With All-scenario intelligent solution, the Huawei devices become super entrance of traffic, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and head phones\n2. This team will be responsible for building a new Ad Serving Platform and have the opportunity to define the product for our Huawei end-users.\n3. AI-Driven is the direction of Ads, Huawei is going to build a strong team in India to Innovate and deliver AI-driven Smart Ad Serving Platforms\n\nJob Title: Lead Data Scientist\nWe are looking for a Lead data scientist who will help us discover the information hidden in vast amounts of Ad Campaign data, and help us to optimize the campaign to improve the advertiser ROI and improve the overall consumer experience. Your primary focus will be in applying data mining techniques, doing statistical analysis, and building high quality prediction systems using Deep learning algorithms integrated with our products. Some the key area you will be working on spend recommendation, floor price prediction, CTR/CVR prediction, market funnel analysis and perdition of lead to conversion, etc.\n\nResponsibility:\nAnalyze the data, develop insights and identify the opportunity to utilize the data to predict various Advertisement key indicators like CTR, CVR, Inventory and Develop prediction and optimization algorithms for campaign, look alike modeling, etc for Huawei Ads.\nTakeup key challenges in AI-driven Smart Ad Serving Platform and focus on research and developing leading AI algorithms and productionize for Huawei Ads.\nTakeup initiative in identifying the SOTA and finding key gaps in AI algorithms and develop a world leading AI algorithms for optimizing real-time Ad Serving engine. Identify and optimize the core modules such as Traffic Prediction, Optimization, Ad Targeting/Re-targeting, Ad Performance Optimization, Audience insights, Attribution, Bidding, re-ranking, and Diagnostics. Support hundreds of billions of ad requests per day, with efficiently cache technology.\nTo build and enhance Ad platform features and Prediction capabilities in Huawei Ads Platform\nOptimized Cost Per Mille; Optimized Cost Per Action; Optimized Cost Per Click and Cost per Click. OCPM, OCPA, OCPC.\n\nRequirements:\n- Strong hands-on experience in implementing and validating big data algorithms and models including Deep Learning models like Seq2Seq/ GRU/RNN/LSTM , Knowledge Graph, Massive Graph algorithms, etc.\n- Programming experience with Python\n- Able to validate existing models including Deep Learning models with large scale dataset and able to make changes to the models to achieve better performance\n- AdServing domain Experience is an added advantage\nRoleAnalytics Manager\nIndustry TypeTelecom / ISP\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nKey Skills\nRnnAlgorithmsLstmArtificial IntelligenceData ScientistBig DataData MiningStatistical AnalysisDeep LearningPython'

In [136]:
driver.back()

In [137]:
driver.get(urls[7])

In [138]:
element8 =driver.find_element_by_xpath("//section[@class= 'job-desc']")
h= element8.text
h

'Job description\nBusiness & Team overview:\nFounded in 1987, Huawei is a leading global provider of ICT (information and communications technology) infrastructure and smart devices. We are committed to bringing digital to every person, home and organization for a fully connected, intelligent world. We have nearly 194,000 employees, and we operate in more than 170 countries and regions, serving more than 3 billion people around the world.\n\nHuawei Technologies has three business directions: Carrier Business Group, which provides innovative and secure network equipment to telecom carriers, including the leading 5G mobile network.\nEnterprise Business Group, which provides facilities and solutions to big and small companies, including IT facilities.\nConsumer Business Groups, which provides devices to the customer, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and headphones. And also provide solutions on mobile offices, smart homes, sports and health, audio-visual entertainment, and smart travel products.\n\nThis opportunity is belong to Huawei Consumer Business Group.\n\nDriven by the coordinated development of "Chip-Device-Cloud", consumer products such as smartphones are becoming increasingly intelligent and pervasive. The era of smart services is the future.\nHuawei Ads Services is dedicated to provide Huawei end-users with high-quality digital experiences, to build a business closed-loop system for Developers and Improve the ROI for the Advertisers\n.\nIn 2020 Q1, along with more than 650 million users and 1,400,000 registered developers worldwide, we have the following unique advantages:\n1. With All-scenario intelligent solution, the Huawei devices become super entrance of traffic, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and head phones\n2. This team will be responsible for building a new Ad Serving Platform and have the opportunity to define the product for our Huawei end-users.\n3. AI-Driven is the direction of Ads, Huawei is going to build a strong team in India to Innovate and deliver AI-driven Smart Ad Serving Platforms\n\n1. Job Title: Computational Design Lead Data Scientist\n\nResponsibility:\nTake-up Key creative tools of the creative platform for Advertisers, research and develop breakthrough CNN based deep learning algorithms to solve the problem unique in the industry and productionize the algorithms, measure the ad creative performance and enhance the algorithm to ease the Ad Designer job.\nDevelop the common AI platforms and frameworks to ease the experimentation of the Algorithms for creative Design.\nTo build ability to understand the advertisers intent and provide creative assistance every step of creating all types of adverts\nResponsible for intelligent identification of advertising creatives (pictures, videos) and related algorithms of content understanding.\nResponsible for Image Synthesis, Intelligent Layout, Style Transfer, and other image processing, computing and visual processing, to improve the aesthetic level of advertising creativity.\nResponsible for designing algorithms for suggesting how to intelligently crop and position an image for maximum effect, identify the optimal placement of text and copywriting.\nResponsible for the algorithm and model of dynamic matching of advertising program creativity and dynamic creation of advertising content\n\nRequirements:\nDeep knowledge of Computational Design\nExperience on Intelligent composition, including image cropping, smart layout, the Gold Ratio composition, visual extension.\nExperience computer vision models, including image/video recognition and content understanding.\nExperience in algorithms such as image and video segmentation, separation, synthesis, and intelligent layout with engineering platform implementation capability.\nStrong Knowledge Algorithms such as Image segmentation, object detection, Image processing (filtering, noise removal, histogram thresholding, etc.), object tracking, image transformation (affine transform, dewarping), keypoint detection/description, etc (and experience in using Computer vision Libraries)\nStrong Knowledge in CNN, R-CNN, GAN, LSTM, GRU, Multimodal feature Learning, ASR, NLU, NLG, Copywriting and KG will be an added advantage\nStrong logic/probability thinking ability and be good at analyzing, summarizing, describing, communicating, and solving problems\nWorking experience in related online advertising products/creative platform is preferred\nWorking experience in Computer Vision (CV) to enhance user artistic creativity while creating creatives/adverts is preferred\nAbility to identify trends of advertising creative platform.\n\n\nRoleData Analyst\nIndustry TypeTelecom / ISP\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nKey Skills\nObject DetectionR-CNNCnnAlgorithmsLstmGANArtificial IntelligenceImage ProcessingData ScientistComputer VisionComputational DesignDeep Learning'

In [139]:
driver.back()

In [140]:
driver.get(urls[8])

In [141]:
element9 =driver.find_element_by_xpath("//section[@class= 'job-desc']")
i= element9.text
i

'Job description\nDear Aspirant,\n\nGreetings from Globaledx\n\nRoles and Responsibilities\n\nExperience : 3+ Years\nCTC : Best in Market\nLocation : Pan India\nContract Period : 3-6 Months\nSkill : Python, NLP, Machine Learning Models, Data Scientist\n\nInterested, please share your updated resume to hr@globaledx.com\nOr Call /Whatsapp at Sowjanya : 9505072408\n\nPlease share with your friends for more reach!\nRoleIT/Technical Content Developer\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryOther\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nPostgresqlDATA SCIENTISTMachine LearningScikit-LearnsqlpandasNLPoptimal codingRundeckmachine learning modelslogging frameworkshtmlNUMPYPython'

In [142]:
driver.back()

In [143]:
driver.get(urls[9])

In [144]:
element10 =driver.find_element_by_xpath("//section[@class= 'job-desc']")
j= element10.text
j

'Job description\nAbout the Role\nFasten your helmet and climb on board if youre ready to be our Senior Data Scientist. In this role, youll be a key leader within the Customer Platform group, mining insights from the sea of data, building data products, and designing experiments with the ability to see the real-time impact of your contribution. A talented troop of business leads and fellow analysts will be your companions on this ride. In our humble opinion, the coolest part of this role is how your work will directly impact how the senior leaders at Gojek shape strategies around millions of customers across Southeast Asia.\nWhat You Will Do\nBuild machine learning models that generate or foster answers to some of the most complex technical issues presented\nProductionize models that deliver a personalized experience via recommendation and customer behavioral modeling\nOwn Data Science projects from inception to deployment, utilizing our own internal tools throughout every stage\nBe a technical leader within the Consumer Platform team, supporting others and enabling them to perform at their best ability\nAlong with Product Managers, own the business outcomes/metrics driven by the data science model/algorithm\nWhat You Will Need\nAt least 5 years of practical experience using Python, Shell scripting, and SQL, with a focus on driving key business metrics\nPrior experience with Applied Statistics, Experimental Design, Machine Learning and Git version control\nExperience with experimenting on different modeling techniques (supervised and unsupervised learning) and developing data visualization for data stories\nExperience in bringing models to production and delivering models via API and CI/CD\nStrong ability to recognize business needs, and collaborate with multiple stakeholders of all levels from the Business and Operations teams, as well as PMs\nAbility to work equally well independently and within a group in an interdisciplinary team environment\nRoleTeam Lead/Technical Lead\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - eCommerce, Internet Technologies\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nMiningVersion controlGITdata scienceAnalyticalShell scriptingMachine learningdata visualizationSQLPython'

In [147]:
dictionnary = {
   'job-title': job_title[:10], 
   'job-location':job_location[:10], 
   'company_name':company_name[:10], 
   'Job_Discreption':[a,b,c,d,e,f,g,h,i,j], 
}
jobs = pd.DataFrame(data=dictionnary) 
jobs

,job-title,job-location,company_name,Job_Discreption
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,Job description\nJob Role : Data Scientist/Dat...
1,Data Scientist,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...",Wipro Limited,Job description\nRole: Data Scientist\n\nRoles...
2,Big Data - Data Scientist,"Kochi/Cochin, Indore, Hyderabad/Secunderabad, ...",Xoriant Solutions Pvt Ltd,Roles & Responsibilities & Key Skills:\n\nBig ...
3,Specialist I - Data Scientist,Bangalore/Bengaluru,Philips India Limited,Job description\nResponsibilities and Key Resu...
4,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,The Data Warehousing Practitioner actively par...
5,Data Scientist,Bangalore/Bengaluru,Oracle India Pvt. Ltd.,Roles and Responsibilities\nLooking for 6+ yrs...
6,SDE Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description\nBusiness & Team overview:\nFo...
7,Computational Design Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description\nBusiness & Team overview:\nFo...
8,Hiring For DATA Scientist - ON Contract Basis ...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, M...",GlobalEdx Learning and Technology Solution Pvt...,"Job description\nDear Aspirant,\n\nGreetings f..."
9,Senior Data Scientist,Bangalore/Bengaluru,GO-JEK India,Job description\nAbout the Role\nFasten your h...

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

<img src= "Q.3.png" style= "width:1500px;height:800px"/>

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [151]:
driver= webdriver.Chrome('chromedriver.exe')

In [152]:
driver.get('https://www.naukri.com/')

In [153]:
jobs= driver.find_element_by_id('qsb-keyword-sugg')
jobs.clear()
jobs.send_keys('Data Scientist')
button= driver.find_element_by_xpath("//div[@class= 'search-btn']")
button.click()
time.sleep(5)

In [178]:
loc_filter= driver.find_elements_by_xpath("//i[@class= 'fleft naukicon naukicon-checkbox']")
loc_filter[1].click()

In [179]:
loc_filter= driver.find_elements_by_xpath("//i[@class= 'fleft naukicon naukicon-checkbox']")
loc_filter[4].click()

In [181]:
job_title= []
job_location= []
company_name= []
experience_required= []

for i in driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']"):
    job_title.append(i.text)
    
for i in driver.find_elements_by_xpath("//li[@class= 'fleft grey-text br2 placeHolderLi location']/span"):
    job_location.append(i.text)

for i in driver.find_elements_by_xpath("//a[@class= 'subTitle ellipsis fleft']"):
    company_name.append(i.text)

for i in driver.find_elements_by_xpath("//li[@class= 'fleft grey-text br2 placeHolderLi experience']/span"):
    experience_required.append(i.text)
dictionnary = {
   'job-title': job_title[:10], 
   'job-location':job_location[:10], 
   'company_name':company_name[:10], 
   'experience_required':experience_required[:10]
}
jobs = pd.DataFrame(data=dictionnary) 
jobs

,job-title,job-location,company_name,experience_required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs
2,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Ravgins International Pvt. Ltd.,3-5 Yrs
3,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
4,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs
5,Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs
6,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,4-9 Yrs
7,Data Scientist,Noida,Blitz Jobs,3-5 Yrs
8,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",Country Veggie,1-3 Yrs
9,Senior Data Scientist II 5+ yrs II Gurgaon,Gurgaon/Gurugram,Zenatix Solutions Private Limited,5-10 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company on glassdoor website.

In [187]:
driver= webdriver.Chrome('chromedriver.exe')

In [189]:
driver.get('https://www.glassdoor.co.in')

In [190]:
jobs= driver.find_element_by_id('sc.keyword')
jobs.clear()
jobs.send_keys('Data Scientist')
locations= driver.find_element_by_id('sc.location')
locations.clear()
locations.send_keys('Noida')
button= driver.find_element_by_xpath("//button[@class= 'gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
button.click()
time.sleep(5)

In [197]:
company_name= []
days= []
ratings= []


for i in driver.find_elements_by_xpath("//a[@class= ' css-l2wjgv e1n63ojh0 jobLink']/span"):
    company_name.append(i.text)
    
for i in driver.find_elements_by_xpath("//div[@class= 'd-flex align-items-end pl-std css-mi55ob']"):
    days.append(i.text)


for i in driver.find_elements_by_xpath("//span[@class= 'css-19pjha7 e1cjmv6j1']"):
    ratings.append(i.text)
    

dictionnary = {
   'company_name': company_name[:10], 
   'No. of days ago when job was posted':days[:10], 
   'Rating of the company':ratings[:10], 
}
jobs = pd.DataFrame(data=dictionnary) 
jobs

,company_name,No. of days ago when job was posted,Rating of the company
0,Colgate-Palmolive,26d,4.3
1,Applied Materials Inc.,9d,4.0
2,Truecaller,4d,4.4
3,CoStrategix,15d,3.5
4,Virtusa,5d,3.4
5,Koch Business Solutions India,10d,3.8
6,People Interactive Pvt Ltd.,12d,4.3
7,Walmart Global Tech India,15d,3.4
8,Hewlett Packard Enterprise,9d,4.2
9,Adobe,1d,4.4

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [198]:
driver= webdriver.Chrome('chromedriver.exe')

In [199]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [200]:
jobs= driver.find_element_by_id('KeywordSearch')
jobs.clear()
jobs.send_keys('Data Scientist')
locations= driver.find_element_by_id('LocationSearch')
locations.clear()
locations.send_keys('Noida')
button= driver.find_element_by_xpath("//button[@class= 'gd-btn-mkt']")
button.click()
time.sleep(5)

In [216]:
company_name= []
min_salary= []
max_salary= []
avg_salary= []


for i in driver.find_elements_by_xpath("//p[@class= 'm-0 ']"):
    company_name.append(i.text)


for i in driver.find_elements_by_xpath("//div[@class= 'common__RangeBarStyle__values d-flex justify-content-between ']/span[1]"):
    min_salary.append(i.text)

    
for i in driver.find_elements_by_xpath("//div[@class= 'common__RangeBarStyle__values d-flex justify-content-between ']/span[2]"):
    max_salary.append(i.text)    
    

for i in driver.find_elements_by_xpath("//div[@class= 'col-2 d-none d-md-flex flex-row justify-content-end']"):
    avg_salary.append(i.text.replace('\n', ''))
    
    
dictionnary = {
   'company_name': company_name[:10], 
   'min_salary':min_salary[:10], 
   'max_salary':max_salary[:10],
    'avg_salary': avg_salary[:10]
}
jobs = pd.DataFrame(data=dictionnary) 
jobs

                company_name min_salary max_salary      avg_salary
0  Tata Consultancy Services      ₹343K    ₹1,250K   ₹ 6,14,306/yr
1                        IBM      ₹586K    ₹2,730K   ₹ 9,00,000/yr
2                  Accenture      ₹577K    ₹2,213K  ₹ 11,46,533/yr
3         Ericsson-Worldwide      ₹355K    ₹1,613K   ₹ 7,38,057/yr
4                  Delhivery      ₹450K   ₹11,622K  ₹ 12,39,781/yr
5         UnitedHealth Group    ₹1,069K    ₹1,520K  ₹ 13,36,142/yr
6         Valiance Solutions      ₹502K    ₹1,465K   ₹ 8,15,192/yr
7              ZS Associates      ₹202K    ₹1,809K  ₹ 11,35,221/yr
8                EXL Service      ₹575K    ₹1,520K  ₹ 11,44,243/yr
9     Optum Global Solutions    ₹1,014K    ₹2,149K  ₹ 14,13,288/yr

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.
To

<img src= "Q.6.png" style= "width:1500px;height:800px"/>

In [233]:
driver= webdriver.Chrome('chromedriver.exe')

In [234]:
driver.get('https://www.flipkart.com')

In [236]:
glass= driver.find_element_by_name('q')
glass.clear()
glass.send_keys('sunglasses')

button= driver.find_element_by_xpath("//button[@class= 'L0Z3Pu']")
button.click()
time.sleep(5)

In [237]:
brand= []
product_Description= []
price= []
discount= []

for i in range(0,3):
    
  
    for j in driver.find_elements_by_xpath("//div[@class= '_2WkVRV']"):
        brand.append(j.text)
    
    
    for k in driver.find_elements_by_xpath("//a[@class= 'IRpwTa']"):
        product_Description.append(k.text)
    
    
    for l in driver.find_elements_by_xpath("//div[@class= '_30jeq3']"):
        price.append(l.text)
    
    
    for m in driver.find_elements_by_xpath("//div[@class= '_3Ay6Sb']/span"):
        discount.append(m.text)
    
    try:
        driver.find_element_by_xpath("//a[@class= '_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class= '_1LKTO3']").click()
    time.sleep(15)
    
  
    
    
dictionnary = {
   'brand': brand[:100], 
   'product_Description':product_Description[:100], 
   'price':price[:100],
    'discount': discount[:100]
}
glasses = pd.DataFrame(data=dictionnary) 
glasses

,brand,product_Description,price,discount
0,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹570,28% off
1,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18% off
3,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
4,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
...,...,...,...,...
95,Fravy,"UV Protection, Mirrored Wayfarer Sunglasses (55)",₹329,83% off
96,GANSTA,"UV Protection, Gradient Retro Square Sunglasse...",₹199,84% off
97,Flizz,UV Protection Wayfarer Sunglasses (Free Size),₹279,81% off
98,AISLIN,"Night Vision, Riding Glasses, UV Protection Wr...",₹522,65% off
99,NuVew,Mirrored Round Sunglasses (51),₹343,66% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown

<img src= "Q.7.png" style= "width:1500px;height:800px"/>

As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [242]:
driver= webdriver.Chrome('chromedriver.exe')

In [243]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [244]:
driver.find_element_by_xpath("//div[@class= '_3UAT2v _16PBlm']").click()

In [245]:
rating= []
review_summary= []
full_review= []

for i in range(0,13):
    
  
    for j in driver.find_elements_by_xpath("//div[@class= '_3LWZlK _1BLPMq']"):
        rating.append(j.text)
    
    
    for k in driver.find_elements_by_xpath("//p[@class= '_2-N8zT']"):
        review_summary.append(k.text)
    
    
    for l in driver.find_elements_by_xpath("//div[@class= 't-ZTKy']"):
        full_review.append(l.text)
    
  
    try:
        driver.find_element_by_xpath("//a[@class= '_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class= '_1LKTO3']").click()
    time.sleep(15)
    
  
    
    
dictionnary = {
   'rating': rating[:100], 
   'review_summary':review_summary[:100], 
   'full_review':full_review[:100],

}
iphone = pd.DataFrame(data=dictionnary) 
iphone

,rating,review_summary,full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,5,Terrific,I upgraded (downgraded?) from my iPhone X sinc...
96,5,Excellent,Seller - SuperComNet ( my trust in you has gro...
97,5,Terrific purchase,"Well , as we all know if its not an Iphone , i..."
98,4,Wonderful,Nice value for money good and best price I pho...
99,5,Fabulous!,Just an awesome phone...upgraded from 6s to 11...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.

<img src= "Q.8.png" style= "width:1500px;height:800px"/>

In [251]:
driver= webdriver.Chrome('chromedriver.exe')

In [252]:
driver.get('https://www.flipkart.com')

In [254]:
shoes= driver.find_element_by_name('q')
shoes.clear()
shoes.send_keys('sneakers')

button= driver.find_element_by_xpath("//button[@class= 'L0Z3Pu']")
button.click()
time.sleep(5)

In [255]:
brand= []
product_Description= []
price= []
discount= []

for i in range(0,5):
    
  
    for j in driver.find_elements_by_xpath("//div[@class= '_2WkVRV']"):
        brand.append(j.text)
    
    
    for k in driver.find_elements_by_xpath("//a[@class= 'IRpwTa']"):
        product_Description.append(k.text)
    
    
    for l in driver.find_elements_by_xpath("//div[@class= '_30jeq3']"):
        price.append(l.text)
    
    
    for m in driver.find_elements_by_xpath("//div[@class= '_3Ay6Sb']/span"):
        discount.append(m.text)
    
    try:
        driver.find_element_by_xpath("//a[@class= '_1LKTO3'][2]").click()
    
    except:
        driver.find_element_by_xpath("//a[@class= '_1LKTO3']").click()
    time.sleep(15)
    
  
    
    
dictionnary = {
   'brand': brand[:100], 
   'product_Description':product_Description[:100], 
   'price':price[:100],
    'discount': discount[:100]
}
snakers = pd.DataFrame(data=dictionnary) 
snakers

,brand,product_Description,price,discount
0,Wika,Sneakers For Men,₹449,55% off
1,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
2,Numenzo,Sneakers For Men,₹399,60% off
3,REV EWSY,Sneakers For Men,₹278,72% off
4,Robbie jones,Sneakers For Men,₹474,52% off
...,...,...,...,...
95,World Wear Footwear,Sneakers For Men,₹240,76% off
96,BRUTON,Sneakers For Men,₹299,11% off
97,SPARX,Icon star V2 IDP Sneakers For Men,₹844,55% off
98,SHOELIFE,Sneakers For Men,₹449,55% off
99,believe,casual shoes For Mens Combo(AR)-1658-1619 ( Mu...,₹449,52% off

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

<img src= "Q.9.1.png" style= "width:1500px;height:800px"/>

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

<img src= "Q.9.2.png" style= "width:1500px;height:800px"/>

In [256]:
driver= webdriver.Chrome('chromedriver.exe')

In [257]:
driver.get('https://www.myntra.com/shoes')

In [275]:
price_filter= driver.find_elements_by_xpath("//div[@class= 'common-checkboxIndicator']")
price_filter[14].click()

In [274]:
price_filter= driver.find_elements_by_xpath("//div[@class= 'common-checkboxIndicator']")
price_filter[17].click()

In [317]:
brand= []
product_Description= []
price= []

for i in range(0,5):
    
  
    for j in driver.find_elements_by_xpath("//h3[@class= 'product-brand']"):
        brand.append(j.text)
    
    
    for k in driver.find_elements_by_xpath("//h4[@class= 'product-product']"):
        product_Description.append(k.text)
    
    try:
        for l in driver.find_elements_by_xpath("//span[@class= 'product-discountedPrice']"):
            price.append(l.text)
        
    except:
        for l in driver.find_elements_by_xpath("//div[@class= 'product-price']"):
            price.append(l.text)        

    driver.find_element_by_xpath("//li[@class= 'pagination-next']").click()

    time.sleep(15)
    
  
    
    
dictionnary = {
   'brand': brand[:100], 
   'product_Description':product_Description[:100], 
   'price':price[:100],

}
shoes = pd.DataFrame(data=dictionnary)
shoes

        brand               product_Description      price
0        Nike      Men KD13 EP Basketball Shoes   Rs. 7496
1        ALDO                      Men Sneakers   Rs. 8796
2        Nike    Women PEGASUS 37 Running Shoes   Rs. 7199
3        Nike       Men JORDAN DELTA Basketball  Rs. 11246
4        Nike     Men REACT MILER Running Shoes   Rs. 7721
..        ...                               ...        ...
95       Nike         Men REACT MILER 2 Running  Rs. 12149
96       Nike      Men REACT INFINITY RUN Shoes   Rs. 8799
97  Florsheim  Men Solid Leather Formal Loafers  Rs. 11549
98  Florsheim   Men Solid Leather Formal Derbys   Rs. 6999
99       ALDO                    Women Sneakers  Rs. 11399

[100 rows x 3 columns]

Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

<img src= "Q.10.1.png" style= "width:1500px;height:800px"/>

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

<img src= "Q.10.2.png" style= "width:1500px;height:800px"/>

In [340]:
from selenium.common.exceptions import NoSuchElementException

In [318]:
driver= webdriver.Chrome('chromedriver.exe')

In [319]:
driver.get('https://www.amazon.in/')

In [320]:
laptop= driver.find_element_by_id('twotabsearchtextbox')
laptop.clear()
laptop.send_keys('Laptop')

button= driver.find_element_by_id("nav-search-submit-button")
button.click()
time.sleep(5)

In [337]:
filter_button= driver.find_elements_by_xpath("//a[@class= 'a-link-normal s-navigation-item']/span")

In [338]:
for i in filter_button:
    if i.text == "Intel Core i7":
        i.click()
        break

Note: Intel Core i9 not vailable.

In [392]:
stars = driver.find_elements_by_class_name('a-icon-alt')

In [395]:
ratings= []
for i in stars:
    ratings.append(i.get_attribute('innerHTML').split(' ')[0])

In [394]:
title= []
price= []

for j in driver.find_elements_by_xpath("//span[@class= 'a-size-medium a-color-base a-text-normal']"):
    title.append(j.text)
        
for l in driver.find_elements_by_xpath("//span[@class= 'a-price-whole']"):
    price.append(l.text)
        
    
dictionnary = {
   'title': title[:10], 
   'ratings':ratings[:10], 
   'price':price[:10],

}
laptops = pd.DataFrame(data=dictionnary)
laptops

                                               title ratings     price
0  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...     4.0    83,990
1  Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...     3.2    83,990
2  HP Pavilion (2021) Thin & Light 11th Gen Core ...     4.4    79,990
3  Mi Notebook Horizon Edition 14 Intel Core i5-1...     4.4    49,999
4  Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14"...     2.9    97,990
5  Life Digital Laptop 15.6-inch (39.62 cms) (Int...     3.0    47,050
6  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...     3.5    84,990
7  Dell Inspiron 5406 14" FHD Touch Display 2in1 ...     4.7    84,872
8  CUK VivoBook K571 by ASUS 15 Inch Gaming Lapto...     3.7  1,44,643
9  HP Pavilion x360 (2021) 14" (35.56cms) FHD Tou...     2.6    78,493